
 <h3>The details of the book</h3>
 
 <table border="1">
  <tr>
    <th>Book_name  </th>
    <th>Author </th>
    <th>Publication </th>
   </tr>
   <tr>
      <td><%= @book.book_name %></td>
      <td><%= @book.author %></td>
      <td><%= @book.publication %></td>
      </tr>
</table> 

<%= link_to 'add new book', book_create_path %>
